{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react",
        "plugin:react-hooks/recommended"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, {
            "extensions": [".js"]
        }],
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
        // "react/state-in-constructor": [0, "never"]
    },
    "plugins": [
        "react-hooks"
    ],

    // dont disturb eslint with globals
    "globals": {
        "windows": true,
        "document": true
    }
}